/* Write your CSS here */
li {
  list-style-type: none;
  width: 40%;
  height: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.denomination-style {
  align-self: stretch;
  flex-grow: 1;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #382f5a;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: white;
  font-family: roboto;

  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.ind-value-style {
  color: white;
}
